.btn-save {
    background-color: #009F7F !important;
    border: none !important;
  }
  
  .container {
    margin-top: 5rem;
  }
  
  .card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  
  .card-body img {
    max-width: 150px;
    border-radius: 50%;
  }
  
  .card-body .btn-danger {
    margin-top: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .alert-success {
    margin-top: 1rem;
  }
  
  .text-danger {
    margin-top: 0.5rem;
  }
  