body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item a{
  
  color:rgb(0, 159, 127);
  font-weight: 600;
}