li {
  list-style:none;
}
ul {
  padding-left:0px !important; 
}

.pd-50 {
  padding:50px;
}

.special-badge {
  position: absolute;
  color:rgb(244, 70, 200) !important;
}

.star-rating-filled {
  fill: gold;
}
 
.star-rating-blank {
  fill: #d8d8d8;
}

.input-group-text {
  cursor: pointer;
}

.special-text{
  color:rgb(244, 70, 200) !important;
}
.input-group-text:active,.input-group-text:hover {
  color:rgb(0, 159, 127);
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
 
  to {
    transform: rotate(360deg);
  }
}