.admin-container {
  background-color: #f4f4f9;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-size:large;
  }
  
  .admin-container h2 {
    text-align: center;
    color: rgb(0, 159, 127);
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  
  .admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
  }
  
  .admin-table th, .admin-table td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: left;
  }
  
  .admin-table th {
    background-color: rgb(0, 159, 127);
    color: white;
  }
  
  .admin-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .admin-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .admin-table td button {
    background-color: rgb(0, 159, 127);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .admin-table td button:hover {
    background-color: black;
  }
  